body {
    background-image: url(image/papel-vintage.jpg);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
#imagen{
    height: auto;
    width: 90%;
}
.portada{
    border: 1px solid gray;
    text-align: center;
    margin: 5% 25% 3% 25%;
    padding: 10px 10px 10px 10px;
    background-color: rgba(66, 66, 63, 0.438);
    box-shadow: 10px 5px 5px rgb(82, 80, 80);
}
#porcion{
    padding-left: 30px;
 }
h1 {
    font-size: 35px;
}
h3{
    padding-left: 40px;
 }
 .ingredientes{
    margin: 0% 30% 0% 35%;
 }
 .preparación{
    margin: 0% 5% 0% 25%;
 }
 .presentación{
    margin: 0% 2% 5% 25%;
 }

